.idea
logs
*.iml
target
.DS_Store
RemoteSystemsTempFiles
Servers
.metadata
.recommenders
.xml
video.js
jquery.custmer.extend.js
.vscode
build
*.log
generatorConfig.xml
mybatis-generater/mybatis-generator/src/main/resources/generatorConfig.xml
