/*
微景板公共样式
author:franco
time:20160517
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
input,
textarea,
html {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    font-size: 12px;
}


/*html,body{margin:0;padding:0;font-size:0;line-height:0;overflow:hidden;}*/

a:link,
a:visited {
    color: #459AE9;
    text-decoration: none;
}

a,
img {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

ol li,
ul li {
    list-style: none;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

html,
body {
    width: 100%;
    height: 100%;
    border: 0;
}

a {
    text-decoration: none !important;
}

img,
video {
    max-width: 100% !important;
}

.transparent {
    opacity: 0 !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.pull-right {
    float: right;
}

.hidden {
    display: none !important;
}

.absolute {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 1;
}

.gray-bg {
    background-color: #f6f6f6;
}

.welcome {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000000;
}

.app-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 750px;
    height: 100%;
    /* min-height: 756px; 756px可能会大于屏幕高度因而引发滚动,从而先行注释掉 by wumengqiang 16.7.8 13:42*/
    margin: 0 auto;
}

.no-slide {
    pointer-events: none;
}

.bg-canvas {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* 重力感应背景样式 */

.paraScene {
    overflow: hidden;
}

.layer {
    /* margin-left:-22%; */
    /* margin-top:-22%; */
    height: 100%;
    width: 100%;
}

.img-wraper {
    height: 125%;
    width: 150%;
    margin-left: -25%;
    margin-top: -12.5%;
}

.img-wraper img {
    height: 100% !important;
}

.anima-canvas {
    width: 125%;
    height: 100%;
}

.go-right {
    margin-left: -15%;
    transition: margin-left 4s;
    -webkit-transition: margin-left 4s;
    /*width: 126%;*/
    height: 100%;
}


/* 重力感应背景样式 End */

.component-group {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.componentbox .con {
    width: 100%;
    height: 100%;
}

.componentbox .con img {
    width: 100%;
    position: relative;
    height: auto;
}

.componentbox .con.con_text {
    overflow-y: auto;
}

.componentbox .con .text {
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.componentbox .scene {
    overflow: hidden;
}

.componentbox .scene,
.componentbox .scene li {
    height: 100%;
    width: 100%;
}

.componentbox .scene li img {
    width: 150%;
    height: 110%;
    margin-left: -25%;
    margin-top: -5%;
}

.componentbox .navimg:hover {
    cursor: pointer;
}


/*视频弹出框的样式*/

.video-dialog {
    position: absolute;
    top: 15%;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border-radius: 4px;
    z-index: 99999;
}

.video-title {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.video-title span {
    padding: 8px 22%;
    border-bottom: 4px #d40909 solid;
}

.video-tip {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #707070;
}

.mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.video {
    height: auto;
    width: 100%;
    max-height: 50vh;
}


/*@media screen and (min-width: 992px){
    div.video-dialog{
        width: 40%;
        margin-left: 30%;
        position:absolute;
        top:10%;
    }
}*/


/*视频弹出框的样式 End*/


/* 目录页口 start */

#scroll-wrapper {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#container .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

#content {
    padding-top: 202px;
    transition: opacity .5s ease-in-out;
    transition-duration: 500ms !important;
    color: #666;
    padding-bottom: 40px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#content.no-padding-bottom {
    padding-bottom: 0px;
}

.transparent {
    opacity: 0;
}

.topmenu-bg {
    height: 200px;
    box-sizing: border-box;
}

.topmenu-wrap {
    position: relative;
    height: 201px;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.topmenu-wrap.sm {
    height: 101px;
}

.menulist {
    position: relative;
    min-width: 22vw;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    height: 77px;
    /* width: 22vw; */
}

.menulist .iconfont {
    height: 48px;
    width: 48px;
    display: inline-block;
    border-radius: 50%;
    line-height: 48px;
    font-size: 26px;
}

.menulist .iconfont.current {
    display: none;
}

.menulist.current .iconfont {
    display: none;
}

.menulist.current .iconfont.current {
    display: inline-block;
}

.menulist-wrap {
    overflow-y: hidden;
    color: white;
    font-size: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 77px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, white 0, white 2px, rgba(0, 0, 0, 0.6) 2px, rgba(0, 0, 0, 0));
    text-align: center;
    background-size: 100% 77px;
    background-position: top left;
}

.menulist-title {
    text-align: center;
    line-height: 27px;
    display: inline-block;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    /* width: 90%; */
    /* margin: 0 auto; */
}

.menulist .border {
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 100;
    width: 50px;
    height: 2px;
    margin-left: -25px;
    background-color: #e5383a;
    box-sizing: border-box;
    display: none;
}

.menulist.current .border {
    display: block
}

.menulist .icon-title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-title-wrap {
    z-index: 100;
    height: 53px;
    line-height: 53px;
    font-size: 1.5rem;
    background-color: #fff;
    width: 100%;
    color: #666;
    border-bottom: 1px solid #eee;
}

.detail-title {
    max-width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.icon-arr-right {
    position: relative;
    top: -1px;
    left: 0px;
    display: inline-block;
    content: ' ';
    line-height: 45px;
    border: 6px solid transparent;
}

.component-group.index .icon-goback,
.component-group.welcome .icon-goback {
    display: none;
}

.icon-goback {
    position: fixed;
    left: 0;
    bottom: 8px;
    z-index: 10;
    width: 60px;
    height: 60px;
    background: url(../images/microvisual/back.png) center center no-repeat;
    background-size: 33px 33px;
}

.icon-video,
.icon-video-on {
    width: 33px;
    height: 33px;
    background: url(../images/icons-2x.png) no-repeat;
    background-position: -98px -100px;
    display: inline-block;
    background-size: 800px 504px;
}

.icon-radio {
    width: 33px;
    height: 33px;
    background: url(../images/microvisual/icon-radio.png) top left no-repeat;
    background-size: contain;
    display: inline-block;
}

.icon-radio.icon-radio-on {
    width: 33px;
    height: 33px;
    background: url(../images/microvisual/icon-radio-on.png) top left no-repeat;
    background-size: contain;
    /*background-position: -132px -133px;*/
}

.btn-wrap {
    float: right;
    padding: 10px 10px 0 0;
    height: 33px;
    color: #6a7181;
}

.btn-wrap:first-child {
    padding-right: 20px;
}

.btn-wrap+ .btn-wrap {
    padding-right: 0;
}

.btn-wrap .iconfont {
    line-height: 33px;
    font-size: 20px;
    text-align: center;
    vertical-align: top;
    width: 33px;
    height: 33px;
    display: inline-block;
}

.btn-wrap .iconfont.icon-video {
    background: none;
}

.content-details {
    background-color: #F6F6F6;
    padding: 68px 15px 15px;
    font-size: 1.17rem;
    line-height: 1.72;
}

#poiList,
#articleList {
    padding: 15px 15px 0;
}

#poiList .poi-item {
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
}

#poiList .poi-item:before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

#poiList .pano-nav {
    position: relative;
    width: 100%;
    height: 45px;
    text-align: center;
    padding-top: 28px;
    font-size: 1rem;
}

.pano-nav .title {
    font-size: 1.67rem;
    line-height: 1.4;
}

#poiList .poi-bg {
    height: 100%;
    width: 100%;
    display: block;
    color: white;
}

#poiList .poi-detail {
    position: absolute;
    bottom: 13px;
    right: 15px;
    z-index: 2;
    width: 116px;
    padding-right: 14px;
    border-radius: 15px;
    color: white;
    background-color: rgba(169, 169, 169, 0.5);
    line-height: 24px;
    font-size: 1rem;
    text-align: center;
}

.poi-detail:after {
    content: ' ';
    display: inline-block;
    border: 5px solid transparent;
    border-left: 7px solid white;
    position: absolute;
    right: 8px;
    top: 6.5px;
}

#articleList .content {
    padding-top: 21px;
    color: white;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    background-color: rgba(0, 0, 0, .4);
}

#articleList .detail-left {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 77px;
    font-size: 1.67rem;
    word-break: break-all;
    margin: 3px 12px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#articleList .detail-left.title-sm {
    font-size: 1.25rem;
    word-wrap: break-word;
    line-height: 1.3;
}

#articleList .detail-left.title-sm .title {
    vertical-align: middle;
    height: 51px;
    margin: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#articleList .detail-right {
    display: inline-block;
    height: 50px;
    margin-top: 19px;
    padding-left: 12px;
    border-left: 1px solid #ccc;
    vertical-align: top;
    font-size: 1.08rem;
    width: 160px;
}

#articleList .article-item {
    position: relative;
    display: block;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;
    overflow: hidden;
}

.detail-right .info-wrapper {
    display: table;
    width: 100%;
    height: 50px;
}

.detail-right .info-wrapper .article-info {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.detail-more {
    text-align: center;
    padding: 0 15px 0;
    font-size: 1.1rem;
}

#poiList-hotel {
    padding: 15px 15px;
}

.hotel-item {
    box-shadow: 0 1px 1px 0 #aaa;
    margin-bottom: 15px;
    border-radius: 3px;
}

.house-header {
    position: relative;
    height: 210px;
    border-radius: 3px 3px 0 0;
}

#poiList-hotel .nav {
    position: absolute;
    top: 10px;
    height: 45px;
    right: 0;
    z-index: 10;
}

#poiList-hotel .nav-item {
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .4);
    border-radius: 4px;
    text-align: center;
    color: white;
    font-size: 0.75rem;
    display: inline-block;
    margin-right: 5px;
}

#poiList-hotel .nav-item+ .nav-item {
    margin-right: 10px;
}

#poiList-hotel .nav .img {
    height: 15px;
    width: auto;
    margin: auto;
    display: block;
    padding: 5px 0 0;
}

#poiList-hotel .footer {
    position: absolute;
    bottom: 0;
    color: white;
    height: 45px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    line-height: 30px;
}

#poiList-hotel .footer .content {
    margin-top: 15px;
}

#poiList-hotel .poi-name {
    font-size: 1.25rem;
    padding-left: 10px;
}

#poiList-hotel .price {
    padding-right: 10px;
}

#poiList-hotel .hotel-info {
    padding: 10px 10px 15px;
    color: #333;
    line-height: 21px;
}

#poiList-hotel .contact {
    margin: 5px 0 0 3px;
    line-height: 15px;
}

#poiList-hotel .icon-phone {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../images/microvisual/phone.png) center center no-repeat;
    background-size: 15px;
    vertical-align: sub;
    margin-right: 8px;
}

.padding-top-201 {
    padding-top: 201px
}

.padding-top-255 {
    padding-top: 255px
}


/* 目录页口 end */


/*图集:start*/

.con_imgList {
    overflow-y: scroll;
}

.con_imgList a {
    color: #fff;
}

.imglist-li-wrapper,
.imglist-poi-wrapper {
    position: relative;
    margin: 5px auto 0;
}

.imglist-li-wrapper:first-child,
.imglist-poi-wrapper:first-child {
    margin-top: 0;
}

.imglist-li-bg {
    height: 200px;
    width: 100%;
    text-align: center;
    position: relative;
}

.imglist-title {
    position: relative;
    color: #fff;
    z-index: 2;
    font-size: 19px;
    width: 100%;
    margin: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
    /* top: 0; */
    /* bottom: 0; */
    /* height: 60px; */
}

.imglist-title-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    height: 30px;
}

.imglist-poi-wrapper .imglist-title-wrapper {
    height: 65px;
}

.imglist-filter {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(27, 27, 31, .4);
}

.imglist-detail {
    position: absolute;
    bottom: 13px;
    right: 15px;
    z-index: 2;
    width: 116px;
    padding-right: 14px;
    border-radius: 15px;
    color: white;
    background-color: rgba(169, 169, 169, 0.5);
    line-height: 24px;
    font-size: 1rem;
    text-align: center;
}

.imglist-detail::after {
    content: ' ';
    display: inline-block;
    border: 5px solid transparent;
    border-left: 7px solid white;
    position: absolute;
    right: 8px;
    top: 6.5px;
}


/*图集:end*/


/*无头图页签样式*/

.simpleTabHear {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    position: relative;
    border-left: 1px solid #dcdcdc;
    margin: 10px 0;
    width: 22.5%;
}

.simpleTabHear.current {
    color: red;
}

.simpleTabHear:first-child {
    border-left: 0;
}

.simpleTabContainer {
    height: 100%;
}

.simpleTabHearWrapper {
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    height: 50px;
    background-color: #fff;
    position: absolute;
    z-index: 102;
    width: 100%;
}

.simpleTabBodyWrapper {
    padding-top: 50px;
    height: 100%;
    overflow-y: scroll;
    display: block;
    box-sizing: border-box;
}

.simpleTabBodyWrapper ul {
    /* overflow-y: scroll; */
    height: 100%;
}

.simpleTabContainer li {
    position: relative;
    margin-top: 5px;
}

.simpleTabBodyWrapper ul li:first-child {
    margin-top: 0px;
}

.componentbox .con .simpleTabContainer img {
    /* height: 149px; */
    height: 200px;
}

.simpleTabContainer .article-title {
    position: absolute;
    z-index: 101;
    left: 0;
    top: 90px;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    /*letter-spacing: 8px;*/
    text-align: center;
}

.simpleTabContainer li a {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.simpleTabContainer .opocityCover {
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


/*poi列表Start*/

.simpleTabContainer .simpleTab-poiList-wrapper {
    width: 100%;
    height: auto;
}

.simpleTabContainer .poiList-tile {
    line-height: 21px;
    font-family: MFJunYa_Noncommercial-Regular;
    font-size: 18px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 18px;
    letter-spacing: 0px;
    z-index: 101;
    text-align: left;
    right: 60px;
}

.poiList-vpano {
    position: absolute;
    bottom: 12px;
    right: 18px;
    z-index: 205;
}

.simpleTabContainer li .icon-vpano360-v1 {
    background: url(../images/sprites-icon.png) 0 0/400px 400px no-repeat;
    display: inline-block;
    width: 30px;
    height: 20px;
    background-position: -140px 0;
}


/*poi列表End*/


/*无头图页签样式 End*/