/*
微景板公共样式
author:franco
time:20160517
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0}
body,input,textarea,
html{font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;font-size:12px;}
a:link,
a:visited{color:#459AE9;text-decoration:none;}
a:hover,
a:active{text-decoration:underline;}
ol li,
ul li{list-style:none;}
h1{
    font-size: 24px;
    font-weight: 700;
}
html,body{
    width: 100%;
    height: 100%;
}

img{
    max-width: 100%;
}
.hidden{
    display: none;
}



.app-wrap{
    position: relative;
    display: block;
    width: 100%;
    max-width: 750px;
    height: 100%;
    min-height: 756px;
    margin: 0 auto;
}
.component-group.welcome,.component-group.index .bg-canvas{
    pointer-events:none;
}
.bg-canvas{
	background-position: top center;
	background-repeat: no-repeat;
	background-size:cover;
}
/* 重力感应背景样式 */
.paraScene{
    overflow: hidden;
}
.layer{
	/* margin-left:-22%; */
	/* margin-top:-22%; */
	height: 100%;
	width: 100%;
}
.img-wraper{
    height: 150%;
    width: 150%;
    margin-left: -25%;
    margin-top: -25%;
}
.component-group{
    width: 100%;
    height: 100%;
}
.componentbox .con,.componentbox .con img{
	width: 100%;
	height: 100%;
}
.componentbox .con.con_text{
    overflow-y: auto;
}
.componentbox .con .text{
    width: 100%;
    word-wrap: break-word;
    word-break:break-all;
}
.componentbox .scene{
    overflow: hidden;
}
.componentbox .scene ,.componentbox .scene li {
    height: 100%;
    width: 100%;
}
.componentbox .scene li img{
    width: 150%;
    height: 110%;
    margin-left: -25%;
    margin-top: -5%;
}
.go-right{
    margin-left: -15%;
    transition: margin-left 4s;
    -webkit-transition: margin-left 4s;
    width: 126%;
    margin-left: -10%;
    height: 100%;
}

.componentbox .navimg:hover{
    cursor: pointer;
}

/*视频弹出框的样式*/
.video-dialog{
    position: absolute;
    top: 26%;
    width: 80%;
    margin-left: 10%;
    background-color:white;
    border-radius: 4px;
    z-index: 99999;
}

.video-title{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.video-title span{
    padding: 8px 22%;
    border-bottom: 4px #d40909 solid;
}

.video-tip{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #707070; 
}
.mask{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.video{
    height: auto;
    width: 100%;
}

/*@media screen and (min-width: 992px){
    div.video-dialog{
        width: 40%;
        margin-left: 30%;
        position:absolute;
        top:10%;
    }
}*/
/*视频弹出框的样式 End*/



/* 目录页口 start */
#content{
    transition: opacity .5s ease-in-out;
}

.transparent{
    opacity: 0;
}

.topmenu-bg{
    height: 100%;
    border-bottom: 4px solid white;
    box-sizing: border-box;
}

.topmenu-wrap{
    height: 200px;
}




.menulist-container {
    display: inline-block;
    width: auto;
}


.menulist{
    min-width: 20vw;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    height: 100%;
}

.menulist .icon{
    height: 48px;
    width: 48px;
    display: inline-block;
    border-radius: 50%;
}

.menulist .icon.current{
    display: none;
}

.menulist.current .icon{
    display: none;
}

.menulist.current .icon.current{
    display: inline-block;
}

.topmenu{
    overflow: hidden;
    position: relative;
    height: 200px;
}



.menulist-wrap {
    color: white;
    font-size: 1.5rem;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 85px;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0));
    text-align: center;
}


.menulist-title{
    text-align: center;
    line-height: 23px;
    display: inline-block;
    padding-bottom: 5px;
}

.menulist.current .menulist-title{
    border-bottom: 4px solid #FF4800;
    box-sizing: border-box;
}

 .detail-title-wrap {
    height: 60px;
    line-height: 60px;
    font-size: 2rem;
    background-color: #fff;
    width: 100%;
    color: #666;
}

 .detail-title{
     max-width: 70%;
     overflow: hidden;
     text-overflow: ellipsis;
     display: inline-block;
     white-space: nowrap;
 }
 
 .detail-title:before{
     display: inline-block;
     content: ' ';
     line-height: 45px;
     border: 8px solid transparent;
     border-left: 9px solid #FF4800;
     padding-right: 10px;

 }

.icon {
    background: url(../images/icons-2x.png) no-repeat;
    display: inline-block;
    background-size: 800px 504px;
}

.icon-goback {
    position: fixed;
    left: 10px;
    top: 88%;
    z-index: 10;
    width: 33px;
    height: 33px;
    background-position: 0px -133px;

}

 .icon-video, .icon-video-on {
    width: 33px;
    height: 33px;
    background-position: -99px -100px;

}

.icon-radio {
    width: 33px;
    height: 33px;
    background-position: -132px -100px;
}

.icon-radio.icon-radio-on {
    width: 33px;
    height: 33px;
    background-position: -132px -133px;
}



 .btn-wrap{
    float: right;
    padding: 6px 6px 0 0 ;
}



 .content-details{
    background-color: #F6F6F6;
    padding:10px 5%;
    font-size: 1.3rem;
}


 #poiList,
 #articleList{
     padding: 15px 5% 0;
 }


#poiList .poi-item{

    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

#poiList .poi-item:before {
    content: ' ';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

#poiList .pano-nav {
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 60px;
    line-height: 24px;
    font-size: 1.25rem;
}

.pano-nav .title{
    font-size: 2rem;
    line-height: 36px;
}

#poiList .poi-bg{
    height: 100%;
    width: 100%;
    display: block;
    color: white;
}

#poiList .poi-detail{
    color: white;
    background-color: rgba(169,169,169,0.5);
    border-radius: 30px;
    padding: 0 10px;
    text-align: center;
    width: 60%;
    height: 45px;
    display: inline-block;
    position: absolute;
    bottom: 15px;
    right: 6%;
    line-height: 45px;
    z-index: 2;
    font-size: 1.25rem;
}

.poi-detail:after {
    content: ' ';
    display: inline-block;
    border: 6px solid transparent;
    border-left: 6px solid white;
    position: absolute;
    right: 10px;
    top: 16px;
}

#articleList .content {
    height: 100px;
    padding-top: 30px;
    color: white;
    width: 80%;
    margin: auto;
}

#articleList .detail-left {
    display: inline-block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 100px;
    font-size: 2rem;
    word-break: break-all;
    margin: 3px 30px 0 0;
}

#articleList .detail-left.title-sm {
    font-size: 1.5rem;
    word-wrap: break-word;
    line-height: 24px;
}

#articleList .detail-left.title-sm .title{
    vertical-align: middle;
    width: 63px;
    height: 63px;
    margin: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#articleList .detail-right{
    display: inline-block;
    height: 70px;
    margin-top: 15px;
    padding-left: 30px;
    border-left: 1px solid #bfbea6;
    vertical-align: top;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;

}

#articleList .article-item{

    position: relative;
    display: block;
    width: 100%;
    height: 160px;
    margin-bottom: 15px;
}

.detail-right .info-wrapper{
    display: table;
    width: 100%;
    height: 70px;
}

.detail-right   .info-wrapper .article-info{
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}

.detail-more{
    text-align: center;
    padding: 20px 5%;
    color: #666;
    font-size: 1.5rem;
}

/* 目录页口 end */