/*
微景板公共样式
author:franco
time:20160517
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0}
body,input,textarea,
html{font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;font-size:12px;}
a:link,
a:visited{color:#459AE9;text-decoration:none;}
a:hover,
a:active{text-decoration:underline;}
ol li,
ul li{list-style:none;}
h1{
    font-size: 24px;
    font-weight: 700;
}
html,body{
    width: 100%;
    height: 100%;
}
.app-wrap{
    position: relative;
    display: block;
    width: 100%;
    max-width: 750px;
    height: 100%;
    min-height: 756px;
    margin: 0 auto;
}
.bg-canvas{
	background-position: top center;
	background-repeat: no-repeat;
	background-size:cover;
}

<<<<<<< Updated upstream
.component-group{
=======
.bg-canvas {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 重力感应背景样式 */

.paraScene {
    overflow: hidden;
}

.layer {
    /* margin-left:-22%; */
    /* margin-top:-22%; */
    height: 100%;
    width: 100%;
}

.img-wraper {
    height: 125%;
    width: 150%;
    margin-left: -25%;
    margin-top: -12.5%;
}
.img-wraper img{
    height:100% !important;
}

.component-group {
    top:0;
    width: 100%;
    /*height: 100.1%;*/
    height: 100%;
    position:absolute;
    overflow: hidden;
}

.componentbox .con {
>>>>>>> Stashed changes
    width: 100%;
    height: 100%;
}
.componentbox .con,.componentbox .con img{
	width: 100%;
	height: 100%;
}
.componentbox .con.con_text{
    overflow-y: auto;
}
.componentbox .con .text{
    width: 100%;
    word-wrap: break-word;
    word-break:break-all;
}
.componentbox .scene{
    overflow: hidden;
}
.componentbox .scene ,.componentbox .scene li {
    height: 100%;
    width: 100%;
}
.componentbox .scene li img{
    width: 150%;
    height: 110%;
    margin-left: -25%;
    margin-top: -5%;
}
.go-right{
    margin-left: -15%;
    transition: margin-left 4s;
    -webkit-transition: margin-left 4s;
    width: 126%;
    margin-left: -10%;
    height: 100%;
}

.componentbox .navimg:hover{
    cursor: pointer;
}

/*视频弹出框的样式*/
.video-dialog{
    position: absolute;
    top: 26%;
    width: 80%;
    margin-left: 10%;
    background-color:white;
    border-radius: 4px;
    z-index: 99999;
}

.video-title{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.video-title span{
    padding: 8px 22%;
    border-bottom: 4px #d40909 solid;
}

.video-tip{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #707070; 
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.video{
    height: auto;
    width: 100%;
}
/*@media screen and (min-width: 992px){
    div.video-dialog{
        width: 40%;
        margin-left: 30%;
        position:absolute;
        top:10%;
    }
}*/
/*视频弹出框的样式 End*/
