@charset "utf-8";
/**
 * @description: icon样式
 * @author: xiaoran(804785854@qq.com)
 * @update:
 */
.icon {
    background: url(../images/icons-2x.png) no-repeat;
    display: inline-block;
    background-size: 800px 504px;
}
.icon-arr-right{
    width: 8px;
    height: 15px;
    background-position: 0px -170px;
}
.icon-arr2-right{
    width: 6px;
    height: 7px;
    background-position: -16px -170px;
    font-size: 0px;
}
.icon-arr3-right{
    width: 6px;
    height: 7px;
    background-position: -25px -170px;
    font-size: 0px;
}
.icon-radio{
    width: 33px;
    height: 33px;
    background-position: -132px -100px;
}
.icon-radio.icon-raido-on{
    width: 33px;
    height: 33px;
    background-position: -132px -133px;
}
.icon-video{
    width: 33px;
    height: 33px;
    background-position: -99px -133px;
}
.icon-video,.icon-video-on{
    width: 33px;
    height: 33px;
    background-position: -99px -100px;
}
.icon-goback{
    width: 33px;
    height: 33px;
    background-position: 0px -133px;
}
.icon-list{
    width: 48px;
    height: 48px;
}
.icon-itembg{
    background-position: 0px -48px;
    line-height: 48px;
    font-style: normal;
}
.current .icon-itembg{
    background-position: 0px 0px;
    color: #fff;
}
.icon-profile{
    background-position: -48px -48px;
}
.current .icon-profile{
    background-position: -48px 0px;
}
.icon-traffic{
    background-position: -96px -48px;
}
.current .icon-traffic{
    background-position: -96px 0px;
}
.icon-celebrity{
    background-position: -288px -48px;
}
.current .icon-celebrity{
    background-position: -288px 0px;
}
.icon-nation{
    background-position: -240px -48px;
}
.current .icon-nation{
    background-position: -240px 0px;
}
.icon-culture{
    background-position: -336px -48px;
}
.current .icon-culture{
    background-position: -336px 0px;
}
.icon-spots{
    background-position: -144px -48px;
}
.current .icon-spots{
    background-position: -144px 0px;
}
.icon-food{
    background-position: -192px -48px;
}
.current .icon-food{
    background-position: -192px 0px;
}
.icon-hotel{
    background-position: -384px -48px;
}
.current .icon-hotel{
    background-position: -384px 0px;
}
.icon-activity{
    background-position: -432px -48px;
}
.current .icon-activity{
    background-position: -432px 0px;
}
.icon-area{
    background-position: -480px -48px;
}
.current .icon-area{
    background-position: -480px 0px;
}
.icon-vpano{
    width: 33px;
    height: 33px;
    background-position: -33px -133px;
}
.icon-nav{
    width: 33px;
    height: 33px;
    background-position: -66px -133px;
}