html{
    font-size: 14px;
}
body{
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.icon-location{
    display: inline-block;
    background: url(../../resources/images/farmhouse/location.png) center center no-repeat;
    height: 10px;
    width:8px;
    vertical-align: middle;
    background-size: contain;
}

.icon-arrow{
    height: 9px;
    width: 5px;
    background: url(../../resources/images/farmhouse/arrow.png) left center no-repeat;
    background-size: contain;
    display: inline-block;
}

.block-split{
    height: 13px;
    width: 100%;
    background-color: #efeff4;
}

.farmhouse-info{
    border-bottom: 1px solid #d8d7dc;

}

.farmhouse-info header{
    width: 100vw;
    height: 53vw;
    overflow: hidden;

}

.info-wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,.6), rgba(0,0,0,0));
    color: white;
    padding:  0 0 10px 16px;

}

.info-wrapper{
    font-size: 16px;
    margin-bottom: 3px;

}



.location{
    font-size: 12px;
}

.farmhouse-info header{
    position: relative;

}

.farmhouse-info nav{
    display: table;
    width: 100%;
    font-size: 12px;
    border-bottom: 1px solid #dee0e3;
}

.nav-item{
    display: table-cell;
    width: 33%;
    text-align: center;
    height: 75px;
    vertical-align: middle;
    position: relative;

}

.nav-item + .nav-item:before{
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    height: 25px;
    border-left: 1px solid #e5e5e5;
}

.nav-item .img{
    height: 25px;
    margin-bottom: 6px;
}


.farmhouse-info main{
    padding: 16px;
}
.portrait{
    width: 26.6vw;
    height: 26.6vw;
    border-radius: 50%;
    margin: 0 auto 12px;

}


/* 房间 start */
.room-info header{
    height: 40px;
    border-top: 1px solid #d8d7dc;
    border-bottom: 1px solid #d8d7dc;
    line-height: 40px;
    font-size: 16px;
    padding: 0 16px;
}

.room-info header .room-all{
    color: #6f6f6f;
    font-size: 13px;
    float: right;

}

.room-info main{

}

.room-info #panoContainer{
    position: relative;
    width: 100%;
    height: 60vh;
}

#panoContainer:before{
    content: ' ';
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity:0;
}
.room-info footer{
    width: 100%;
    overflow-x: auto;
    margin: 8px 0 15px 0 ;
    height: 70px;
}

.room-info .pano-thumbnail{
    height: 18.6vw;
    width: 26.6vw;
    margin-right: 5px;

}

.room-info .pano-thumbnail:last-child{
    margin-right: 15px;
}
/* 房间 end */