
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1470031930'); /* IE9*/
  src: url('iconfont.eot?t=1470031930#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1470031930') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1470031930') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1470031930#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiala:before { content: "\e600"; }
.icon-slidedown:before { content: "\e603"; }
.icon-lunadelete1:before { content: "\e601"; }
.icon-icontest:before { content: "\e604"; }
.icon-profile:before { content: "\e605"; }
.icon-nation:before { content: "\e606"; }
.icon-celebrity:before { content: "\e607"; }
.icon-lodge:before { content: "\e608"; }
.icon-traffic:before { content: "\e609"; }
.icon-attraction:before { content: "\e60a"; }
.icon-delicacy:before { content: "\e60b"; }
.icon-slideup:before { content: "\e60c"; }
