#user-email{
    border: 1px solid #c3c3c3;
    width: 60%;
    height: 100px;
    padding: 8px;
    margin-bottom: 30px;
}
#email-input{
    border: none;
    outline: none;
}

.placeholder{
    color: #999;
}

#user-email.invalid-email{
    border:1px solid #a94442;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label{
    padding-right: 10px;
}



.radio-wrapper > span{
    padding-right: 10px;
}

.radio-wrapper{
    display: inline-block;
    width: 60%;
}

.footer{
    margin: 50px 0 0 0;
}