#pic_warn{
	clear: left;
}
p.warn{
    display:block;
}
textarea{
	resize: none;
}
.inner-wrap{
	padding-bottom: 30px;
}
.content{
	width: 1200px;
	margin:0 auto;
	border:1px solid #E5E5E5;
	background: #FDFDFD;

}

.content-header {
    width: 1200px;
    height: 53px;
    border-bottom: 1px solid #E5E5E5;
    /*background: #fff;*/
    font-size: 18px;
    line-height: 18px;	
    padding: 18px 40px;
}


.group-title{
	height: 45px;
	font-size: 14px;
	line-height: 14px;
	padding:  15px 0; 
	font-weight:bold;
}

.article-title {
    width: 100%;
}
.article-head-pic > p > span{
	font-weight: lighter;
	color: #707070;
}
.content div.main-content {
	width: 780px;
	margin:40px auto 0;
	display: block;
	border:0;
}
.group{
	overflow: hidden;
}
.group-title{
	font-weight: bold;
		height: 40px;
}
span.fileinput-button,
span.fileinput-button:hover
{
	position:relative;
	background: #FFFFFF; 
	border: 1px solid #C3C3C3; 
	border-radius: 3px; 
	font-size: 14px;
	color: #445FA8;
	height: 36px;
	width:104px;	
	margin-top: -2px;
	margin-left: 10px;
	overflow:visible;
}

.load-container{
	position: absolute;
	left: 100%;
	top: 0;
	margin: 2px 0 0 10px;
	height: 36px;
	width: 36px;
	background-color: white;
	z-index: 2;
}
.load-container .loader{
	width: 30px;
	height: 30px;
	margin: 0;
	border-top: 0.5em solid rgba(68,95,168, 0.2);
    border-right: 0.5em solid rgba(68,95,168, 0.2);
    border-bottom: 0.5em solid rgba(68,95,168, 0.2);
    border-left: 0.5em solid #445fa8;
}



.pic-upload{
	overflow: visible;
	position:relative;
}
.pic-upload-left, 
.pic-upload-right{
	margin-top: 2px;
}
#thumbnail_show{
	max-width: 200px;
	max-height:200px;
}
.pic-upload-left span.fileinput-button,
.pic-upload-left span.fileinput-button:hover{
	margin-left: 0;
}
.group input{
	height: 36px;
}
input[type='text'] {
    width: 100%;
}

.article-summary textarea {
    width: 100%;
    height: 100px;
}

.content-footer {
    width: 100%;
    text-align: center;
}

/*button {
    height: 36px;
    width: 104px;
}*/

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
}

.pic-upload-left{
	width: 104px;
	margin-right: 46px;
	float: left;
}
.pic-upload-right{
	width: 75%;
	float: left;
}
.article-audio input[type="text"],.article-video input[type='text']{
	width: 662px;	
}

.article-audio,
.article-video{
	overflow: visible;
}
.content-footer{
	background-color: white;
	margin-top: 60px;
	box-shadow: 0 -2px 6px #e5e5e5;
}

.content-footer .button-container{
	width: 780px;
	margin: auto;
	height: 80px;
}

.publish,
.publish:hover,
.preview,
.preview:hover{
	background: #FFFFFF; 
	border: 1px solid #C3C3C3; 
	border-radius: 3px; 
	font-size: 14px;
	color: #445FA8;
}
.content-footer button{
	float: right;
	margin: 20px 0 0 20px;	
	width: 104px;
	height:36px;
}
.article-head-pic{
	overflow: visible;
}
.article-audio>div,.article-video>div,.article-head-pic>div{
	position:relative;
}
.cleanInput{
	position: absolute;
	right: -40px;
	top: 7px;
}
