/*
微景板公共样式
author:franco
time:20160517
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

body,
input,
textarea,
html {
    font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "\9ED1\4F53", Arial, sans-serif;
    font-size: 12px;
}

a:link,
a:visited {
    color: #459AE9;
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

ol li,
ul li {
    list-style: none;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}

html,
body {
    width: 100%;
    height: 100%;
}

.app-wrap {
    position: relative;
    display: block;
    width: 100%;
    max-width: 750px;
    height: 100%;
    min-height: 756px;
    margin: 0 auto;
}

.bg-canvas {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.componentbox .con,
.componentbox .con img {
    width: 100%;
    height: 100%;
}