/*
含有菜单页面的共同的样式表
author:Demi
time:20140412
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0}
body,
html{
    font-family:"Helvetica Neue",Arial,"STHeiti","Microsoft YaHei","Hiragino Sans GB","\9ED1\4F53",sans-serif;
    font-size: 14px;
    color: #212121;
}
h3{
    font-size: 24px;
}
body{
    background: #F5F5F5;
}
input[type=text],
input[type=number]{
    height: 30px;
    border: 1px solid #C3C3C3;
    padding: 5px 10px;
}
select{
    height:30px;
	width:125px;
    padding-left:3px;
    margin-right:5px;
}
table{
	font-size:14px;
}
textarea{
    border: 1px solid #C3C3C3;
    padding: 5px 10px;
    resize: none;
}


a:link,
a:visited,
a:hover,
a:active{
    color:#445FA8;
    text-decoration:none;
}

button,
a.button{
    background: #445FA8;
    color: #FFFFFF;
    padding: 4px 18px;
    border: 1px solid #445FA8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

button:hover,
a.button:hover{
    background: #476AC6;
    border: 1px solid #476AC6;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.disable,
button.disable:hover,
a.button.disable,
a.button.disable:hover{
    background: #666;
    border: 1px solid #666;
}


/*字体相关配置*/
.fw-normal{
    font-weight: normal;
}

.pointer{
    cursor: pointer;
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.inner-wrap{
    width: 1200px;
    margin: auto;
}


.content{
    margin-left: calc(100vw - 100%);
}

.content .main-content{
    position: relative;
    border: 1px solid #C3C3C3;
    padding: 0;
    display: table-cell;
    background: #FDFDFD;
}
/*导航条样式*/
.navbar{
    background-color: #364c86;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    height: 64px;
    margin-bottom: 30px;
    min-width: 1200px;
}
.navbar-header{
    width: 1200px;
    float: none;
    margin: 0 auto;
    height: 64px;
}
.navbar-brand{
    height: 64px;
    padding: 12px 0;
    position: absolute;
    padding-left: calc(50vw - 50%);
}
.navbar .navbar-business-name,
.navbar .navbar-business-name:hover
{
    color: white;
}

.navbar .select-business {
    display: inline-block;
    border-width: 1px 1px 0 0;
    border-color: white white transparent transparent;
    border-style: solid;
    height: 6px;
    width: 6px;
    margin: 0 0 2px 6px;
    transform: rotate(135deg);
}

.info-user{
    height: 64px;
    padding: 22px 3px;
}
.account,
.sep{
    color: #FFFFFF;
    opacity: 0.8;
}
.sep{
    padding-right: 10px;
    padding-left: 10px;
}
#logout{
    color: #FFFFFF;
}
.info-user img{
    padding-right: 8px;
}
.navbar-right{
    margin-right: 0;
}
/*菜单栏*/
.menu{
    position: relative;
    border-right:1px solid #C3C3C3;
    display:table-cell;
    width: 200px;
    padding: 0;
}
.menu .menu-box:first-child .menu-title{
    padding-bottom: 5px;
    position: relative;
    top: -6px;
    line-height: 14px;
}
.menu-box{
    margin-bottom: 12px;
    border-bottom: 1px solid #C3C3C3;
}
.menu-box:last-child{
	border-bottom: none;
}
.menu-box:first-child {
    border-bottom: 1px solid #C3C3C3;
}
.menu-title img{
    padding-right: 12px;
}
.menu dt{
    padding: 0 22px;
    font-size: 14px;
    font-weight: normal;
    color: #9C9C9C;
    line-height: 36px;
}
.menu-box dd{
    line-height: 36px;
}
.menu-box a{
    color: #212121;
    display:block;
    padding-left:52px;
}
.menu-box a:hover{
	background:#f5f5f5;
}
.menu-box .selected,
.menu-box .selected a:hover{
    background: #445EA8;
}
.menu-box .selected a{
    color: #FFFFFF;
}
/*主要内容区域*/
.main{
    width: 1000px;
    padding: 27px 30px 78px 30px;
    display: table-cell;
}
.main-hd{
    margin-bottom: 18px;
}
.main-bd{
    position: relative;
}
/*搜索区域*/
.search{
    position: relative;
    margin-bottom: 24px;
}
.search-icon{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}
.search-txt{
    padding-left: 25px!important;
    width: 360px;
    margin-right: 2px;
}
/*页脚样式*/
.foot{
    margin: 30px 0 33px 0;
    line-height: 21px;
    text-align: center;
}
.copyright{
    font-size: 12px;
    color:#707070
}
/*模态窗口*/
#pop-overlay{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    z-index: 100;
}
/*弹出窗口*/
.status-message{
	position: fixed;
    line-height: 2.5em;
    background: #000;
    color: #ffffff;
    top: 40%;
    left: 50%;
    opacity: 0.5;
    padding: 0 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display:none;
    z-index:999;
}
.pop{
    position: absolute;
    background: #fff;
    top: 0;
    display: none;
    z-index: 101;
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    -moz-box-shadow:  0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    box-shadow:  0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    border-radius:5px;
}
.pop-title{
    background: #445FA8;
    color: #FFFFFF;
    height: 48px;
    padding: 15px 24px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.pop-title h4{
    font-weight: 400;
    line-height: 18px;
}
.pop-title a{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 100;
}
.glyphicon{
    font-weight: 100;
}
.btn-close{
    position: absolute;
    right: 15px;
    top: 7px;
}
.pop-cont{
    padding: 38px 24px 29px 24px;
}
.pop-cont label{
    font-weight: normal;
    padding-right: 10px;
    margin: 0;
}
.pop-cont>form>div{
    margin-bottom: 15px;
}
.warn{
    color: #D0021B;
    display: none;
}
.pop-fun{
    float: right;
    padding: 0 64px 34px 0;
}


.button-close,
.button-close:hover{
    display: inline-block;
    background: #FFFFFF;
    color: #445FA8;
    border: 1px solid #C3C3C3;
    margin-left: 12px;
    padding: 4px 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button-close:hover{
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    -webkit-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-delete{
    max-width: 390px;
}
.pop-delete .pop-fun{
    padding-right: 24px;
    padding-bottom: 24px;
}

/*加载状态*/
.loader-container{
	display: none;
    position: absolute;
    top: 0;
    left: 453px;
}
.loader-container .loader {
  font-size: 10px;
  position: relative;
  border-top: 0.3em solid rgba(68, 95, 168, 0.2);
  border-right: 0.3em solid rgba(68, 95, 168, 0.2);
  border-bottom: 0.3em solid rgba(68, 95, 168, 0.2);
  border-left: 0.3em solid #445FA8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader-container .loader,
.loader-container .loader:after {
  border-radius: 50%;
  width: 2.3em;
  height: 2.3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.breadcrumb{
    background-color: white;
    padding-left: 0;
}


.transparent{
    opacity: 0 !important;
}

#pop-message{
    position: fixed !important;
    z-index: 20000;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    -moz-box-shadow:  0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    box-shadow:  0 0 14px rgba(0,0,0,0.12), 0 14px 14px rgba(0,0,0,0.24);
    border-radius:5px;
}
#pop-message:before{
    content: '.';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    z-index: 20;
}

#pop-message .pop-title,
#pop-message .pop-cont,
#pop-message .pop-fun{
    position: relative;
    overflow: hidden !important;
    z-index: 20;
}
.pop-cont,
.pop-fun{
    background-color: white;
}
#pop-message .pop-fun {
    width: 100%;
    text-align: center;
    width: 100%;
    background-color: white;
}
.mask{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 10;
}

.red{
    color: #D0021B;
}

.hidden{
    display: none !important;
}

.show{
    display: block !important;
}

.visibility-show{
    visibility: visible !important;
}

.message-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    width: 50%;
    top: 40%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.message-wrapper .message{
    background-color: rgba(0,0,0,.5);
    padding: 5px 20px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}
