
.inner-wrap{
    padding-bottom: 30px;
}
.content{
    width: 1200px;
    margin:0 auto;
    border:1px solid #E5E5E5;
    background: #FDFDFD;

}

.content-header {
    width: 1200px;
    height: 53px;
    border-bottom: 1px solid #E5E5E5;
    /*background: #fff;*/
    font-size: 18px;
    line-height: 18px;
    padding: 18px 40px;
}

.content .main-content {
    width: 780px;
    margin:40px auto 0;
    display: block;
    border:0;
}

.navbar-right .operation{
    line-height: 60px;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}