textarea{
    resize: none;
}

p.warn{
    display:block;
    clear: left;
}



.inner-wrap{
    padding-bottom: 30px;
}
.content{
    width: 1200px;
    margin:0 auto;
    border:1px solid #E5E5E5;
    background: #FDFDFD;

}

.content-header {
    width: 1200px;
    height: 53px;
    border-bottom: 1px solid #E5E5E5;
    /*background: #fff;*/
    font-size: 18px;
    line-height: 18px;
    padding: 18px 40px;
}

.content .main-content {
    width: 780px;
    margin:40px auto 0;
    display: block;
    border:0;
}

label{
    width: 100px;
}
/********* 文件上传组件 ********/

.fileup {
    position: relative;
    display: inline-block;
    width: 680px;
}

.fileup input[type="text"]{
    width: 80%;
}

.fileinput-button,
.fileinput-button:hover
{
    position:relative;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    border-radius: 3px;
    font-size: 14px;
    color: #445FA8;
    height: 36px;
    width:104px;
    margin-top: -2px;
    margin-left: 10px;
    overflow:visible;
}

.fileinput-button input{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
    width: 100%;
}

.load-container{
    position: absolute;
    left: 100%;
    top: 0;
    margin: 2px 0 0 10px;
    height: 36px;
    width: 36px;
}
.load-container .loader{
    width: 30px;
    height: 30px;
    margin: 0;
    border-top: 0.5em solid rgba(68,95,168, 0.2);
    border-right: 0.5em solid rgba(68,95,168, 0.2);
    border-bottom: 0.5em solid rgba(68,95,168, 0.2);
    border-left: 0.5em solid #445fa8;
}

.cleanInput{
    position: absolute;
    right: -40px;
    top: 7px;
}