
.inner-wrap{
    padding-bottom: 30px;
}
.content{
    width: 1200px;
    margin:0 auto;
    border:1px solid #E5E5E5;
    background: #FDFDFD;

}

.content-header {
    width: 1200px;
    height: 53px;
    border-bottom: 1px solid #E5E5E5;
    /*background: #fff;*/
    font-size: 18px;
    line-height: 18px;
    padding: 18px 40px;
}

.content .main-content {
    width: 780px;
    margin:40px auto 0;
    display: block;
    border:0;
}

.navbar-right .operation{
    line-height: 60px;
    color: white;
    cursor: pointer;
    padding-right: 10px;
}

.qrcode-container {
    position: absolute;
    background-color: white;
    padding: 15px 20px 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 4px 6px #999;
}

.qrcode-container .button{
    display: block;
    height: 20px;
    font-size: 12px;
    line-height: 12px;
    width: 40px;
    padding: 0 5px;
    margin: 10px auto;
}
.pop.publish-info,
.pop.publish-confirm{
    position: absolute;
    width: 500px;
    left: 0;
    right: 0;
    top: 20%;
    margin:auto
}

.pop.pop-show{
    display: block;
}

.publish-info .pop-cont{
    padding: 20px 30px;
    text-align: center;
}

.publish-info .qrcode-tip{
    line-height: 32px;
    font-size: 16px;
}

.publish-info .link-container{
    margin-top: 5px;
}

.publish-info .link-container .copy{

}
