input{
	padding: 0 10px;
}
.buttonï¼Œ
.button-close{
	height: 36px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.pop{   
    display: block;
    width: 40%;
    left: 30%;
    top: 0%;
}
.pop-cont > div > label{
	width: 20%;
	direction: rtl;
	vertical-align: top;
	
}

.pop-cont > div > textarea
{
	width: 75%;
	height: 100px;
	vertical-align: top;
}
.pop-cont > div > input{
	width: 75%;
	height: 36px;
	vertical-align: top;
}
.pop-cont > div{
	margin-bottom: 15px;
}


.pop-cont .router-pic input{
	width: 50%;
	margin-right: 10px;
}
.uploader{
	display: inline-block;
    width: 25%;
    position: relative;
}
.uploader .fileup-thumbnail{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.pagination-wrapper{
	text-align: center;
}

tr{
	height: 60px;
}

td{
	vertical-align: middle !important;
}

tbody > tr:last-child td{
	border-bottom: 1px solid #ddd;
}