/* 分页组件  start*/
.pagination-wrapper{
    text-align: right;
}

.pagination-sm  li.pagination-prev,
.pagination-sm  li.pagination-next{
    margin: 20px 9px 20px 0;
}

.pagination-sm li.pagination-next.disabled a,
.pagination-sm li.pagination-prev.disabled a{
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination-sm  li.pagination-prev a,
.pagination-sm  li.pagination-next a,
.pagination-sm  li.pagination-page a{
    border-radius: 0;
    padding: 0 14px;
    line-height: 34px;
    border: 1px solid #ddd;
    color: #445FA8;
    text-decoration: none;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
}


.pagination-sm  li.pagination-page.active a{
    color: #fff;
    cursor: default;
    background-color: #445FA8;
    border-color: #445FA8;
}

.pagination-sm li + li a{
    margin-left: 10px;
}
/* 分页组件 end*/


.tr-operation{
    background-color: #efefef;
}

.tr-operation button{
    margin-left: 15px;
}


tbody tr{
    height: 80px;
}

tr.tr-operation{
    height: auto;
    padding: 6px auto;
}

.empty-rows{
    text-align: center;
    background-color: #
}

td{
    vertical-align: middle !important;
}

tbody tr:last-child{
    border-bottom: 1px solid #ccc;
}