/*微景展管理平台样式*/
/*author:Demi*/
/*用户搜索*/
#new-built{
    float: right;
    position: relative;
    top: -54px;
}
.search{
    margin-bottom: 18px;
}
.property,
.modify{
    padding-right: 10px;
}
/*弹出层，独有，新建微景展*/
.pop-cont div{
    margin-bottom: 10px;
}
#app-name,
#app-name-edit{
    width: 436px;
}
.pop-cont select{
    min-width: 65px;
    margin-right: 5px;
    height: 30px;
}
.pop-cont #country-edit{display:none;}
#warn-appname,
#warn-appname-edit {
    position: relative;
    display: none;
    left: 45px;
}
.pop-fun{
    padding-right: 24px;
}
/*删除类别*/
.pop-tips{
    margin: 40px 40px;
    font-size: 14px;
}
