/*微景展管理平台样式*/
/*author:Demi*/
/*用户搜索*/
#new-built{
    float: right;
    position: relative;
    top: -54px;
}
.search{
    margin-bottom: 18px;
}
.property,
.modify,
.reuse{
    padding-right: 10px;
    cursor: pointer;
}

/*弹出层，独有，新建微景展*/
.pop.pop-show{
	left: 0;
    right: 0;
    top: 30%;
    width: 66%;
    margin: auto;
    display: block;
}

.pop.pop-show.set-app-name{
	width: 40%;
}

.pop-show:before{
	content: '.';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #b2b2b2;
    opacity: 0.5;
    z-index: 100;
}
.pop-show .pop-title,
.pop-show .pop-cont,
.pop-show .pop-fun{
	position:relative;
	z-index:101;
}

.pop-cont div{
    margin-bottom: 10px;
}
.app-name{
    width: 80%;
}
.pop-cont{
	background-color: white;
}
.pop-cont select{
    min-width: 65px;
    margin-right: 5px;
    height: 30px;
}
.pop-cont #country-edit{display:none;}
#warn-appname,
#warn-appname-edit {
    position: relative;
    display: none;
    left: 45px;
}
.pull-right button + button {
    margin-left: 12px;
}
.pop-fun{
    background-color: white;
    width: 100%;
}
/*删除类别*/
.pop-tips{
    margin: 40px 40px;
    font-size: 14px;
}
.warn-tip{
	padding: 0 25px;
    color: #d0021b;
}
.block{
	display: block;
	padding-bottom: 5px;
}
/* 设置删除弹框按钮向右对齐 */
#pop-delete .pop-fun{
	width: auto;
}