/*微景展管理平台样式*/
/*author:Demi*/

#pop-message{
	min-width: 200px;
}
#pop-message .pop-fun{
	text-align: center;
    padding-right: 0;
}
#pop-message .message{
	white-space: pre-wrap;
}

/*用户搜索*/
#new-built{
    float: right;
    position: relative;
    top: -54px;
}
.search{
    margin-bottom: 18px;
}
.property,
.modify,
.reuse{
    padding-right: 10px;
    cursor: pointer;
}

/*弹出层，独有，新建微景展*/
.pop.pop-show{
	position: fixed;
	left: 0;
    right: 0;
    top: 7%;
    width: 44%;
    margin: auto;
    display: block;
}

.pop.pop-show.edit-app{
	width: 560px;
}
.set-app-name .form-group label{
    height: 30px;
    line-height: 30px;
}
.pop-show:before{
	content: '.';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #b2b2b2;
    opacity: 0.5;
    z-index: 100;
}
.pop-show .pop-title,
.pop-show .pop-menu,
.pop-show .pop-cont,
.pop-show .pop-fun{
	position:relative;
	z-index:101;
}

.pop-cont div{
    margin-bottom: 10px;
}

.pop-menu {
    height: 35px;
    padding-top: 5px;
    background-color: #f4f5f9;
    color: #a1a09e;
    padding-left: 20px;
    list-style: none;
    overflow: hidden;
}

.pop-menu > li{
	width: 96px;
    float: left;
    text-align: center;
    line-height: 30px;
}

.pop-menu > a{
	color: #707070;
}

.pop-menu > li.active{
	background-color: white;
	color: #445fa8;
	border-radius: 4px 4px 0 0 ;
}

/* 通用设置部分  css start*/

.part-left{
	display: inline-block;
    width: 140px;
    height: 140px;
    margin-right: 8px;
    position: relative;
    background-color: #445FA8;
}


.part-left .preview-container{
	width: 140px;
	height: 140px;
	overflow: hidden;
	position: relative;
	background-color: white;
}
.part-left .preview-img{
	width: 140px;
	height: 140px;
}
.img-wrapper{
	position: relative;
    margin: auto;
    padding: 14px 0 0 0;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;  
    height: 45px;
    width: 45px;
}

.img-wrapper input{
	position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.file-edit-container{
	position: absolute;
    top: 30px;
    left: 35px;
    width: 70px;
}

.img-wrapper:hover {
    background-color: #476ac6;
}

.img-wrapper img {
	margin: 0px auto;
    display: block;
    height: 17px;
    width: 17px;
}

.file-edit-container p{
	color: white;
    text-align: center;
}

img.abstract-pic{
	width: 60px;
	height: 60px;
    margin: 25px auto 5px;
    display: block;
}

.fileup-container{    
    position: relative;
    height: 30px;
    width: 125px;
    margin: 0 auto;
}
.fileup-container input{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.part-left  button.button-close,
.part-left  button.button-close:hover{
	margin: 0 auto;
	display: block;
}

.part-right{
	vertical-align: top;
	position: relative;
	float: right;
}

.part-right textarea{
	margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 90px;
    resize: none;
    display: block;
}

.part-right input,
.part-right textarea{
    width: 340px;
}


.char-limit-wrapper{
	position: relative;
	margin: 0;
}


.char-limit-wrapper .counter{
	position: absolute;
    right: 5px;
    bottom: 5px;
    line-height: 14px;
    color: #999;
}


/* 通用设置部分  css end*/

/* 分享设置部分 start */
.setting-share .newShare{
	margin: -19px 0 15px 0;
}

.setting-share div.share-item {
    display: block !important;
}

.setting-share div.share-item .share-title{
    display: block !important;
}

.setting-share div.share-item.hidden {
    display: none !important;
}
.share-delete{
	float: right;
    height: 18px;
    cursor: pointer;
}
.order-0 .share-delete{
	display: none;
}
.divider{
    border-bottom: 1px solid #e5e5e5;
    margin-top: 4px;
}

.setting-share .share-item:last-child .divider{
	border-bottom: none;
}


/* 分享设置部分 end */

.pop-cont{
	max-height: 400px;
    overflow-y: scroll;
	background-color: white;
}
.pop-cont select{
    min-width: 65px;
    margin-right: 5px;
    height: 30px;
}
.pop-cont #country-edit{display:none;}
#warn-appname,
#warn-appname-edit {
    position: relative;
    display: none;
    left: 45px;
}
.pull-right button + button {
    margin-left: 12px;
}
.pop-fun{
    background-color: white;
    width: 100%;
}
/*删除类别*/
.pop-tips{
    margin: 40px 40px;
    font-size: 14px;
}
.warn-tip{
	padding: 0 25px;
    color: #d0021b;
}
.block{
	display: block;
	padding-bottom: 5px;
}
/* 设置删除弹框按钮向右对齐 */
#pop-delete .pop-fun{
	width: auto;
}

/* 新建微景展弹出框 */
.new-app .pop-cont{
    padding-left: 30px;
    padding-right: 30px;
}

.new-app .pop-fun{
    padding-right: 30px;
}

.pop.pop-show.new-app{
    width: 400px;
}

.new-app .app-name{
    width: 100%;
    height: 34px;
    padding: 0 10px;
    margin-bottom: 18px;
}

.template {
    width: 100px;
    display: inline-block;
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    cursor: pointer;
}

.template + .template{
    margin-left: 14px;
}

.template .img-container {
    height: 40px;
    width: 40px;
    margin: 20px auto 10px;
    border-radius: 50%;

}

.template.basic .img-container{
    background-color: #3250c1;
}
.template.dev .img-container{
    background-color: #ffae00;
}
.template.data .img-container{
    background-color: #00c3c5;
}

.template .img{
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 auto -12px auto;
}

.template.basic .img{
    background: url(../img/basic.png) center center no-repeat;
    background-size: contain;
}
.template.dev .img{
    background: url(../img/dev.png) center center no-repeat;
    background-size: contain;
}
.template.data .img{
    background: url(../img/data.png) center center no-repeat;
    background-size: contain;
}

.template.basic.active{
    border-color: #3250c1;
}
.template.dev.active{
    border-color: #ffae00;
}
.template.data.active{
    border-color: #00c3c5;
}
.template .spec{
    padding-bottom: 14px;
}
