/*微景展管理平台样式*/
/*author:Demi*/
/*用户搜索*/
#new-built{
    float: right;
    position: relative;
    top: -54px;
}
.search{
    margin-bottom: 18px;
}
.property,
.modify,
.reuse{
    padding-right: 10px;
    cursor: pointer;
}

/*弹出层，独有，新建微景展*/
.pop.pop-show{
	left: 0;
    right: 0;
    top: 30%;
    width: 66%;
    margin: auto;
    display: block;
}

.pop.pop-show.set-app-name{
	width: 40%;
}

.pop-show:before{
	content: '.';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #b2b2b2;
    opacity: 0.5;
    z-index: 100;
}
.pop-show .pop-title,
.pop-show .pop-menu,
.pop-show .pop-cont,
.pop-show .pop-fun{
	position:relative;
	z-index:101;
}

.pop-cont div{
    margin-bottom: 10px;
}


.pop-menu {
    height: 35px;
    padding-top: 5px;
    background-color: #f4f5f9;
    color: #a1a09e;
    padding-left: 20px;
    list-style: none;
    overflow: hidden;
}

.pop-menu > li{
	width: 96px;
    float: left;
    text-align: center;
    line-height: 30px;
}

.pop-menu > a{
	color: #707070;
}

.pop-menu > li.active{
	background-color: white;
	color: #445fa8;
	border-radius: 4px 4px 0 0 ;
}

/* 通用设置部分  css start*/

.part-left{
	display: inline-block;
    width: 140px;
    height: 140px;
    margin-right: 5%;
    position: relative;
    background-color: #445FA8;
}

.part-right{
	vertical-align: top;
}
img.abstract-pic{
	width: 60px;
	height: 60px;
    margin: 25px auto 5px;
    display: block;
}

.fileup-container{    
    position: relative;
    height: 30px;
    width: 96px;
    margin: 0 auto;
}
.fileup-container input{
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.part-left  button.button-close,
.part-left  button.button-close:hover{
	margin: 0 auto;
	display: block;
}


.part-right{
	display: inline-block;
	position: relative;
	width: 60%;
}

.part-right .app-description{
	margin: 0px;
    width: 100%;
    margin-top: 20px;
    height: 90px;
    resize: none;
}
.part-right .app-name{
    width: 100%;
}

.char-limit-wrapper{
	position: relative;
}

.char-limit-wrapper .counter{
	position: absolute;
    right: 10px;
    top: 0;
    line-height: 30px;
    color: #707070;
}


/* 通用设置部分  css end*/


.pop-cont{
	background-color: white;
}
.pop-cont select{
    min-width: 65px;
    margin-right: 5px;
    height: 30px;
}
.pop-cont #country-edit{display:none;}
#warn-appname,
#warn-appname-edit {
    position: relative;
    display: none;
    left: 45px;
}
.pull-right button + button {
    margin-left: 12px;
}
.pop-fun{
    background-color: white;
    width: 100%;
}
/*删除类别*/
.pop-tips{
    margin: 40px 40px;
    font-size: 14px;
}
.warn-tip{
	padding: 0 25px;
    color: #d0021b;
}
.block{
	display: block;
	padding-bottom: 5px;
}