/*CRM客户管理样式表*/
/*author:Demi*/
/*time:20160419*/
input[type="text"]{
    width: 450px;
}
.superscript{
    color: #D0021B;
    padding-right: 4px;
}
.item{
    margin-bottom: 15px;
}
.item-label{
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    vertical-align: top;
    padding-top: 3px;
}
.item-value{
    display: inline-block;
    width: 450px;
    text-align: left;
}
.item-ver{
    vertical-align: top;
    padding-top: 2px;
}
.license-radio{
    margin-bottom: 10px;
}
.item-value select{
    margin-right: 5px;
    width: 125px;
}
.last-select{
	margin-right:0 !important;
}
.address-container{
    position: relative;
    width: 500px;
    height: 0;
    margin-top: 10px;
}
.address-container-edit{
	height:250px;
}
.address-search{
    z-index: 100;
    position: relative;
    left: 60px;
    margin-top: 1px;
    display: none;
}
.description{
    width: 450px;
    height: 170px;
}
#new-built{
    float: right;
    position: relative;
    top: -54px;
}
.edit{
	padding-right:5px;
}
#merchant_info_edit{
    width: 542px;
}
#license-upload{
    position: absolute;
    width: 164px;
    height: 30px;
    z-index: 2;
    opacity: 0;
}
#license-url-edit{
	width:470px !important;
}
#license-upload-edit{
	position: absolute;
    width: 66px;
    height: 40px;
    top: 0;
    right: 2px;
    z-index: 2;
    opacity: 0;
}
#btn-upload{
	z-index:1;
}
.info{
    color: #D0021B;
}

.info-add{
    color: #D0021B;
}

.description{
    width: 450px;
    height: 170px;
}
.merchant{
    margin: 0 10px;
    padding: 38px 14px 0 14px;
    border-bottom: 1px solid #C3C3C3;
}
.linkman{
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 10px;
    position: relative;
    left: -14px;
}
.remind{
    border-color: #D0021B !important;
}
.pop-fun{
    padding-bottom: 24px;
}
#pop-delete{
    min-width: 350px;
}
