ul {
    list-style: none;
}

.form-control {
    border-radius: 0;
}

.launch {
    height: 85px;
    background-color: #f2f2f2;
    padding: 27px 25px;
    margin: 25px 0;
}

.launch span {
    line-height: 30px;
}

.launch button {
    float: right;
    background-color: #169bd5;
    border: 1px solid #169bd5;
}

.section-wrapper {
    margin: 25px 0;
    line-height: 28px;
    font-size: 13px;
    padding: 0 0 0 20px;
}

.section-wrapper h5 {
    font-size: 13px;
    margin-bottom: 15px;
}

.section-wrapper .iconfont {
    height: 20px;
    width: 20px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-right: 5px;
}

.section-wrapper>p {
    margin-left: 25px;
}

.process-wrapper {
    margin-left: 30px;
}

.process-num {
    background-color: #79b9e7;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.process-title {
    font-size: 18px;
}

.process-content-wrapper {
    height: 85px;
    margin-left: 13px;
    padding-left: 19px;
}

.process-one .process-content-wrapper {
    border-left: 2px solid #e6e7ec;
}


.phone-num {
    width: 80%;
    float: left;
}
/*填写信息*/

.icon-required {
    color: red;
}

.phone-area {
    width: 20%;
    float: left;
    margin-right: 0;
    height: 30px;
}


.pic-wrapper {
    float: left
}

.pic-wrapper img {
    width: 150px;
    height: 150px;
    margin: 10px 10px 10px 0;
}
.cityInfo .select2{
    float: left;
}
.form-section {
    margin: 30px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7ecf1;
}

.form-group .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px
}


/*确认提交*/

.confirm-wrapper {
    width: 600px;
    margin: auto;
    margin-top: 200px;
}


/*额外的样式*/

.font-red-sunglo {
    color: #E26A6A!important;
}