@charset "utf-8";

/**
 * @description: icon样式
 * @author: franco
 * @update:
 */

.icon {
    background: url(../img/pages_common2x.png) no-repeat;
    display: inline-block;
    background-size: 800px 500px;
}

.icon-comp-text {
    width: 24px;
    height: 24px;
    background-position: 0px 0px;
}

.icon-comp-img {
    width: 24px;
    height: 24px;
    background-position: -24px 0px;
}

.icon-comp-imglist {
    width: 24px;
    height: 24px;
    background-position: -167px 0px;
}

.icon-comp-vpano {
    width: 24px;
    height: 24px;
    background-position: -192px 0px;
}

.icon-comp-nav {
    width: 24px;
    height: 24px;
    background-position: -72px 0px;
}

.icon-comp-video {
    width: 24px;
    height: 24px;
    background-position: -144px 0px;
}

.icon-comp-audio {
    width: 24px;
    height: 24px;
    background-position: -96px 0px;
}

.icon-comp-more {
    width: 24px;
    height: 24px;
    background-position: -120px 0px;
}

.icon-comp-shape {
    width: 24px;
    height: 24px;
    background-position: -215px 0px;
}

.icon-comp-tab {
    width: 21px;
    height: 24px;
    background-position: -239px 0px;
}

.icon-comp-headTab {
    width: 21px;
    height: 24px;
    background-position: -239px 0px;
}

.icon-comp-SimpleTab {
    width: 21px;
    height: 24px;
    background-position: -239px 0px;
}

.icon-comp-photo-library {
    width: 24px;
    height: 24px;
    background-position: -72px 0px;
}

.icon-comp-text,
.icon-comp-img,
.icon-comp-imglist,
.icon-comp-vpano,
.icon-comp-nav,
.icon-comp-video,
.icon-comp-audio,
.icon-comp-more,
.icon-comp-shape,
.icon-comp-photo-library,
.icon-comp-tab,
.icon-comp-headTab,
.icon-comp-SimpleTab {
    filter: alpha(opacity=60);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 0.6;
    /*Firefox私有，透明度50%*/
    opacity: 0.6;
    /*其他，透明度50%*/
}

.component-btn:hover .icon-comp-text,
.component-btn:hover .icon-comp-img,
.component-btn:hover .icon-comp-imglist,
.component-btn:hover .icon-comp-vpano,
.component-btn:hover .icon-comp-nav,
.component-btn:hover .icon-comp-video,
.component-btn:hover .icon-comp-audio,
.component-btn:hover .icon-comp-more,
.component-btn:hover .icon-comp-shape,
.component-btn:hover .icon-comp-photo-library,
.first-layer:hover .icon-comp-tab,
.component-btn:hover .icon-comp-headTab,
.component-btn:hover .icon-comp-SimpleTab {
    filter: alpha(opacity=100);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 1;
    /*Firefox私有，透明度50%*/
    opacity: 1;
    /*其他，透明度50%*/
}

.icon-arrow-down {
    width: 10px;
    height: 5px;
    background-position: 0px -60px;
    font-size: 0px;
}

.current .icon-arrow-down,
.icon-arrow-up {
    width: 10px;
    height: 5px;
    background-position: 0px -65px;
    font-size: 0px;
}

.icon-arrow-left {
    width: 5px;
    height: 10px;
    background-position: -10px -60px;
    font-size: 0px;
}

.icon-arrow-right {
    width: 5px;
    height: 10px;
    background-position: -10px -60px;
    font-size: 0px;
}

.icon-edit {
    width: 16px;
    height: 16px;
    background-position: -20px -75px;
}

.icon-delete {
    width: 16px;
    height: 16px;
    background-position: 0px -75px;
}


/* Tab Icon Start*/

.tabicon {
    background: url(../img/microsence/tabicon.png) no-repeat;
    display: inline-block;
    background-size: 800px 504px;
}

.customerIcon {
    display: inline-block;
    background-size: 100% 100%;
}

.icon-list {
    width: 48px;
    height: 48px;
}

.current .icon-itembg,
.current.icon-itembg {
    background-position: 0px 0px;
    color: #fff;
}

.icon-profile {
    background-position: -48px -48px;
}

.current .icon-profile,
.current.icon-profile {
    background-position: -48px 0px;
}

.icon-traffic {
    background-position: -96px -48px;
}

.current .icon-traffic,
.current.icon-traffic {
    background-position: -96px 0px;
}

.icon-celebrity {
    background-position: -288px -48px;
}

.current .icon-celebrity,
.current.icon-celebrity {
    background-position: -288px 0px;
}

.icon-nation {
    background-position: -240px -48px;
}

.current .icon-nation,
.current.icon-nation {
    background-position: -240px 0px;
}

.icon-culture {
    background-position: -336px -48px;
}

.current .icon-culture,
.current.icon-culture {
    background-position: -336px 0px;
}

.icon-spots {
    background-position: -144px -48px;
}

.current .icon-spots,
.current.icon-spots {
    background-position: -144px 0px;
}

.icon-food {
    background-position: -192px -48px;
}

.current .icon-food,
.current.icon-food {
    background-position: -192px 0px;
}

.icon-hotel {
    background-position: -384px -48px;
}

.current .icon-hotel,
.current.icon-hotel {
    background-position: -384px 0px;
}

.icon-activity {
    background-position: -432px -48px;
}

.current .icon-activity,
.current.icon-activity {
    background-position: -432px 0px;
}

.icon-area {
    background-position: -480px -48px;
}

.current .icon-area,
.current.icon-area {
    background-position: -480px 0px;
}

.icon-ancient {
    background-position: -528px -48px;
}

.current .icon-ancient,
.current.icon-ancient {
    background-position: -528px 0px;
}

.icon-modern {
    background-position: -576px -48px;
}

.current .icon-modern,
.current.icon-modern {
    background-position: -576px 0px;
}


/* Tab Icon End*/