@charset "utf-8";
/**
 * @description: icon样式
 * @author: franco
 * @update:
 */
.icon {
    background: url(../img/pages_common2x.png) no-repeat;
    display: inline-block;
    background-size: 800px 500px;
}
.icon-comp-text{
    width: 24px;
    height: 24px;
    background-position: 0px 0px;
}
.icon-comp-img{
    width: 24px;
    height: 24px;
    background-position: -24px 0px;
}
.icon-comp-vpano{
    width: 24px;
    height: 24px;
    background-position: -48px 0px;
}
.icon-comp-nav{
    width: 24px;
    height: 24px;
    background-position: -72px 0px;
}
.icon-comp-video{
    width: 24px;
    height: 24px;
    background-position: -144px 0px;
}
.icon-comp-audio{
    width: 24px;
    height: 24px;
    background-position: -96px 0px;
}
.icon-comp-more{
    width: 24px;
    height: 24px;
    background-position: -120px 0px;
}
.icon-comp-shape{
    width: 24px;
    height: 24px;
    background-position: -168px 0px;
}
.icon-comp-photo-library{
    width: 24px;
    height: 24px;
    background-position: -72px 0px;
}
.icon-comp-text,.icon-comp-img,.icon-comp-vpano,.icon-comp-nav,
.icon-comp-video,.icon-comp-audio,.icon-comp-more,.icon-comp-shape,.icon-comp-photo-library{
    filter:alpha(opacity=60); /*IE滤镜，透明度50%*/
	-moz-opacity:0.6; /*Firefox私有，透明度50%*/
	opacity:0.6;/*其他，透明度50%*/
}
.component-btn:hover .icon-comp-text,
.component-btn:hover .icon-comp-img,
.component-btn:hover .icon-comp-vpano,
.component-btn:hover .icon-comp-nav,
.component-btn:hover .icon-comp-video,
.component-btn:hover .icon-comp-audio,
.component-btn:hover .icon-comp-more,
.component-btn:hover .icon-comp-shape,
.component-btn:hover .icon-comp-photo-library{
    filter:alpha(opacity=100); /*IE滤镜，透明度50%*/
	-moz-opacity:1; /*Firefox私有，透明度50%*/
	opacity:1;/*其他，透明度50%*/
}

.icon-arrow-down{
    width: 10px;
    height: 5px;
    background-position: 0px -60px;
    font-size: 0px;
}
.current .icon-arrow-down,.icon-arrow-up{
    width: 10px;
    height: 5px;
    background-position: 0px -65px;
    font-size: 0px;
}
.icon-arrow-left{
    width: 5px;
    height: 10px;
    background-position: -10px -60px;
    font-size: 0px;
}
.icon-arrow-right{
    width: 5px;
    height: 10px;
    background-position: -10px -60px;
    font-size: 0px;
}
.icon-edit{
    width: 16px;
    height: 16px;
    background-position: -20px -75px;
}
.icon-delete{
    width: 16px;
    height: 16px;
    background-position: 0px -75px;
}










