<label class="checkbox-inline cate-poi">
    <input id="${field_id}" name="${field_name}" ${checked} ${disabled} type="checkbox" value="${value}"/>
    <label for="${field_id}">${label}</label>
</label>
