@media screen and (max-width: 768px){
	
}
@media screen and (min-width: 992px){
	div.video-dialog{
		width: 40%;
		margin-left: 30%;
		position:absolute;
		top:10%;
	}
}
html,body{
	height: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	max-width: 750px;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}
.wrapper > div{
	flex-shrink: 0;
}
.wrapper div.content-wrapper{
	padding: 15px 15px;
	flex-grow: 1;
	flex-shrink: 1;
	/* overflow: scroll; */
	font-size: 14px;
	line-height: 24px;
	border-bottom: 1px solid #dee0e3;
}
.content img,.content video{
	max-width: 100%;
}

.banner{
	max-height: 200px;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}	
.banner.sm{
	max-height: 100px;
}
.banner img{
	width:100%;
}
.toolbar{
	/* height: 56px; */
	background-color: white;
	position: absolute;
	/* padding: 0 10px; */
	/* border-bottom: 1px solid #dee0e3; */
	right: 0;
}
.title-wrapper{
	padding: 15px 0 15px 15px;
	border-bottom: 1px solid #dee0e3;
}
.title-wrapper .title{
	color: #333;
	font-size: 20px;
	line-height: 1.5;
	white-space: inherit;
	text-overflow: ellipsis;
	width: 60%;
	/* padding-right: 110px; */
	overflow: hidden;
	font-weight: 400;
}
.title-wrapper .short-title{
	color: #666;
}
.btn-wrap:nth-child(2){
	/* margin-right:5px; */
}
.toolbar .btn-wrap{
	float: right;
	/* height: 56px; */
	width: auto;
	position: relative;
	/* padding: 12px 5px; */
	top: -22px;
	margin-right: 15px;
}
/*.icon{
	background: url(../images/icons-2x.png) no-repeat;
    display: inline-block;
    background-size: 800px 504px;
    cursor: pointer;
}*/
.toolbar .icon-audio{
	width: 42px;
	height: 42px;
	background: url(../../images/article/icon2.png) no-repeat;
	display: inline-block;
	background-size: 675px 443px;
	background-position: -50px -1px;
}

.toolbar .icon-audio.playing{
    background-position: 0px -1px;
}
.toolbar .icon-video{
	width: 42px;
	height: 42px;
	background: url(../../images/article/icon2.png) no-repeat;
	display: inline-block;
	background-size: 675px 443px;
	background-position: -104px -1px;
}

.video-dialog{
	position: absolute;
	top: 10%;
	width: 80%;
	margin-left: 10%;
	background-color:white;
	border-radius: 4px;
}

.video-title{
	height: 50px;
    line-height: 50px;
    text-align: center;
}
.video-title span{
    padding: 8px 22%;
    border-bottom: 4px #d40909 solid;
}

.video-tip{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #707070;	
}
.mask{
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}
.video{
	width: 100%;
}
.video-js{
	margin:0 auto;
}
.go-top {
    background: url('../../images/hjm/goTop.png') no-repeat;
    height: 20px;
    width: 80px;
    margin: 10px auto 14px;
    background-size: 100%;
}

.goback {
    position: fixed;
    left: 10px;
    bottom: 5px;
    width: 33px;
    height: 33px;
    z-index: 10;
}

.icon-goback {
    width: 35px;
    height: 30px;
    background: url(../../images/article/icon2.png) no-repeat;
    display: inline-block;
    background-size: 675px 443px;
    background-position: 0px -56px;
}
