html,
body {
    font-family: "Microsoft YaHei";
    font-size: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.wrapper {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    height: 100%;
    /* overflow: scroll; */
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    max-height: 200px;
}

.banner .title {
    position: absolute;
    bottom: 0;
    /* left: 15px; */
    width: 100%;
    padding: 5px 0 10px 15px;
    background: linear-gradient(to top, rgba(0,0,0,0.5) , rgba(0,0,0,0) );
}

.title {
    color: #fff;
}

.title .poiName {
    font-size: 16px;
    margin-bottom: 5px;
}

.title .poiGeoInfo {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}

.toolsbar {
    display: flex;
    display: -webkit-box;
    background-color: #fff;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid #e5e5e5;
}

.tool-item {
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    /* justify-content: center; */
    text-align: center;
    height: 75px;
}
.content-wrapper {
    /* border-bottom: 1px solid #e5e5e5; */
    padding-bottom: 88px;
    padding: 15px;
}
.content-wrapper,
.content-wrapper .content {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
}
.content-wrapper .content {
    /* margin-top: 30px; */
    background-color: #fff;
    /* border-bottom: 1px solid #e5e5e5; */
}
.content img,
.content video {
    width: 100%;
    margin: 0 auto;
}


.icon-geoLocation {
    background: url('../../images/hjm/geoLocation.png') no-repeat;
    height: 17px;
    width: 15px;
    display: inline-block;
    vertical-align: -3px;
    background-size: 100%;
    margin-right: 2px;
}

.tool-item {
    position: relative;
}

.tool-item .vr-line {
    position: absolute;
    right: 0;
    width: 1px;
    background-color: #e5e5e5;
    top: 25px;
    height: 25px;
}

.tool-item i {
    height: 45px;
    width: 55px;
    display: inline-block;
    margin: 15px auto;
}
.tool-item .icon{
    background-size: 100%;
}
.icon-phone {
    background: url('../../images/hjm/phone.png') no-repeat;
}

.icon-nav {
    background: url('../../images/hjm/nav.png') no-repeat;
}

.icon-pano {
    background: url('../../images/hjm/pano.png') no-repeat;
}
.icon-wait-pano{
    background: url('../../images/hjm/waitPano.png') no-repeat;
}
.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.go-top {
    background: url('../../images/hjm/goTop.png') no-repeat;
    height: 20px;
    width: 80px;
    margin: 10px auto 14px;
    background-size: 100%;
}

.goback {
    position: fixed;
    left: 10px;
    bottom: 5px;
    width: 33px;
    height: 33px;
    z-index: 10;
}

.icon-goback {
    width: 30px;
    height: 30px;
    background: url(../../images/hjm/goback.png) no-repeat;
    display: inline-block;
    background-size: 100%;
}
