
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1471963131'); /* IE9*/
  src: url('iconfont.eot?t=1471963131#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1471963131') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1471963131') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1471963131#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiala:before { content: "\e600"; }
.icon-copy:before { content: "\e615"; }
.icon-slidedown:before { content: "\e603"; }
.icon-lunadelete1:before { content: "\e601"; }
.icon-icontest:before { content: "\e604"; }
.icon-profile:before { content: "\e605"; }
.icon-nation:before { content: "\e606"; }
.icon-celebrity:before { content: "\e607"; }
.icon-lodge:before { content: "\e608"; }
.icon-traffic:before { content: "\e609"; }
.icon-attraction:before { content: "\e60a"; }
.icon-delicacy:before { content: "\e60b"; }
.icon-slideup:before { content: "\e60c"; }
.icon-dilitezheng:before { content: "\e602"; }
.icon-fengqing:before { content: "\e60d"; }
.icon-huodong:before { content: "\e60e"; }
.icon-suyuan:before { content: "\e60f"; }
.icon-techan:before { content: "\e610"; }
.icon-wenxue:before { content: "\e611"; }
.icon-yange:before { content: "\e612"; }
.icon-yiji:before { content: "\e613"; }
.icon-ziranhuanjing:before { content: "\e614"; }
